<div class="col-xs-12 col-md-12" style="text-align: center" id="the-process-container">
  <h2>The Process:</h2>
  <mat-vertical-stepper style="text-align: left">
    <mat-step label="Step 1">
      Gather Requirements: This is where the scope of your website<br>
      will be defined.  During this phase, our main goal is to clearly define<br>
      the functionality and capabilities that your website will have.<br>
      This will help us determine which of our three web development<br>
      packages will work best for your situation.
    </mat-step>
    <mat-step label="Step 2">
      Website Development: The developers at HSV Web Dev, LLC will use<br>
      the information gathered in Step 1 to create an elegant website.<br>
      The website will be live within 1 week following our conclusion of Step 1.<br>
      We use the live website to gather immediate feedback from our customers.<br>
      For instance, we will create the layout of the website, call the customer, and instruct them to view <br>
      the website. The customer will be able to provide real time feedback throughout the development process.<br>
      This allows us to provide a superior website that is highly customized to<br>
      the needs of our customers.
    </mat-step>
    <mat-step label="Step 3">
      Continuous Improvement: This step never stops.  We will make updates to your<br>
      website as needed.  Our development process enables us to push out updates<br>
      as our clients need them.  
    </mat-step>
  </mat-vertical-stepper>
</div>
