
<div class="d-flex justify-content-center" style="text-align: center;">
  <img src="../../assets/Logo/HsvWithText.svg" id="hsv-logo" class="p-2 animated bounceInDown delay-1s">
</div>
<div class="col-xs-12 col-md-12" style="margin-top:20px; text-align: center; padding-bottom: 15px">
  <!--<h2 class="font-weight-bold">Our Purpose</h2>-->
  <p class="animated fadeIn">
    The way customers research a local business have changed.<br>
    In the past, customers relied on the feedback of their friends and family to decide on whether or not to trust a local business.<br>
    Today, customers heavily rely on the internet to provide feedback and information that will affect what local business they trust.
  </p>
  <p class="animated fadeIn">
    HSV Web Dev, LLC provides local, small businesses with the ability to have an online presence.<br>
    We create beautiful, mobile friendly websites that empower local, small businesses to reach their potential customers.<br>
    We also build powerful business applications for our customers.  If you have a business process that you need automated<br>
    or would like to move into a mobile application, then contact us.
  </p>
</div>

<div class="text-md-center" style="text-align: center; padding-bottom: 20px">
  <button mat-stroked-button color="accent" class="animated fadeIn delay-3s" style="margin: 15px" routerLink="/our-mission">Our Mission</button>
  <button mat-stroked-button color="accent" class="animated fadeIn delay-3s" style="margin: 15px" routerLink="/contact-us">Contact Us</button>
</div>

<div class="container-fluid" style="text-align: center; padding-bottom: 20px">
  <img src="../../assets/Logo/hsv_300dpi_JPG.jpg" class="p-2 animated fadeIn" id="business-stat">
</div>
