<div class="d-flex justify-content-center" style="text-align: center;">
  <div class="d-flex justify-content-center" style="text-align: center;">
    <img src="../../assets/Logo/HsvWithText.svg" id="hsv-logo" class="">
  </div>
  <div class="col-xs-12 col-md-12" style="margin-top:20px; padding-bottom: 15px; text-align: center">
    <h2 class="font-weight-bold">Our Mission</h2>
    <p class="animated fadeIn">
      At HSV Web Dev, LLC we develop web developers, empower local businesses, and give back to our community.<br>
      We want the local businesses of Madison County to have beautiful, elegant websites that rival the websites of national competitors.<br>
      We believe giving local businesses the ability to provide customers with an online experience similar to what is provided by<br>
      larger companies will entice customers to spend their money locally. 
    </p> 
    <p class="animated fadeIn delay-1s">
      
    </p>
    <p class="animated fadeIn delay-1s">

    </p>
  </div>
  <div class="text-md-center" style="text-align: center;">
    <button mat-stroked-button color="accent" class="animated fadeIn delay-2s" style="margin: 15px;" routerLink="/non-profit">Non-Profit?</button>
    <button mat-stroked-button color="accent" class="animated fadeIn delay-2s" style="margin: 15px;" routerLink="/developer">Developer?</button>
  </div>
</div>

