<div id="pricing-component-container" class="col-xs-12 col-md-12">
  <div class="" id="info-container">
    <h1 style="font-size: 40px; font-weight: bold;">Pricing</h1>
    <p>
      This page describes the three web development packages that we offer.  Your website will most likely fit into one of the below packages. <br>
      However, please contact us.  Our goal is to create a webstite that helps you provide the most value to your customers. Therefore, these prices are flexible.
    </p>
  </div>
  <mat-tab-group dynamicHeight style="align-items: center; ">
    <mat-tab label="Basic">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 style="margin-left: -10px;">Price: $30/month or $350/year</h2>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-header>
        <h4 style="margin-left: 0px;">Website Features:</h4>
        <p>
          - Responsive, Mobile Web Site<br>
          - 99.99% uptime<br>
          - Https (secure) connection<br>
          - Contact Form, Quote Form, etc... <br>
          - Website will be running in less than a week<br>
          - Fully complete within two weeks<br>
          - Website updated as needed
</mat-card>
    </mat-tab>
    <mat-tab label="Premium">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 style="margin-left: -10px;">Price: $80/month or $900/year</h2>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-header>
        <h4>Website Features:</h4>
        <p>
          - Responsive, Mobile Web Site<br>
          - 99.99% uptime<br>
          - Https (secure) connection<br>
          - Contact Form, Quote Form, etc... <br>
          - Website will be running in less than a week<br>
          - Updated as needed. No additional charge<br>
          - Includes different forms. For example, a contact us form<br>
          - Connected to a database to store user information<br>
          - Customers will be able to place orders<br>
          - Customers will be able to sign-in and pay you.<br>
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Pro">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2 style="margin-left: -10px;">Price: Based on Customer Needs</h2>
          </mat-card-title>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-header>
        <h4>Website Features:</h4>
        <p>
          - Responsive, Mobile Web Site<br>
          - 99.99% uptime<br>
          - Https (secure) connection<br>
          - Website will be running in less than a week<br>
          - Any type of form/forms<br>
          - Authentication<br>
          - Connected to a database to store user information<br>
          - Updates will be implemented as required.<br>
          - Website/Web application will be complete within two to four weeks.<br>
          - Can be a business application that performs create, update, read, delete operations<br>
          - Any business application that is needed<br>
        </p>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
