<div id="developer-container" style="text-align: center;">
  <h2>Developer?</h2>
  <p>
    Do you love web development? Are you trying to learn web development?<br>
    We are always looking for developers who will bring value to our organization.<br>
    If you would like to work with us, please contact us.  If we have an opening, we<br>
    would love to bring you in for an interview.
  </p>
  <div class="text-md-center" style="text-align: center; padding-bottom: 20px">
    <button mat-stroked-button color="accent" class="animated fadeIn delay-1s" onclick="document.location.href ='tel:601-381-0494'" style="margin: 15px">Call Us</button>
    <button mat-stroked-button color="accent" class="animated fadeIn delay-1s" style="margin: 15px" routerLink="/contact-us">Contact Us</button>
  </div>
</div>
