<div id="about-us-container" style="text-align: center;">
  <h2>We are Web Developers</h2>
  <p style="margin-bottom: -40px;">
    We love learning new technologies.  This is what HSV Web Dev, LLC allows us to do.<br>
    We use the latest technologies to make beautiful, elegant web applications<br>
    that bring value to local businesses.  For instance, this website is built with Angular 7, Typescript, and Firebase.<br>
    It is hosted using the Google Cloud Platform. 
  </p>
  <img src="../../../assets/Logo/BlackText.png" id="hsv-logo" class="p-2 animated bounceInUp delay-1s">
</div>
