<div id="non-profit-container" style="text-align: center;">
  <h2>Non-Profit?</h2>
  <p>
    We like to give back to our community.<br>
    If you are part of a non-profit, please reach out to us. We would love the opportunity<br>
    to empower your organization to have more of an impact on our community.  There is even a chance that<br>
    we would be able to build your website free of charge.
  </p>
  <div class="text-md-center" style="text-align: center; padding-bottom: 20px">
    <button mat-stroked-button color="accent" class="animated fadeIn delay-1s" onclick="document.location.href ='tel:601-381-0494'" style="margin: 15px">Call Us</button>
    <button mat-stroked-button color="accent" class="animated fadeIn delay-1s" style="margin: 15px" routerLink="/contact-us">Contact Us</button>
  </div>
</div>
